.section {
    margin: 72px 0;
}

.imageCard {
    padding: 64px 84px;
    border-radius: 8px;
    position: relative;
}

.image {
    width: 100%;
    object-fit: contain;
}

.text {
    max-width: 700px;
    padding: 0 64px;
    line-height: 1.4;
}

.text .title {
    color: #171717; /* Dark/90 */
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
}

.text.hero .title {
    margin: 16px 0;
}

.text strong {
    font-weight: bold;
}

.text.hero p {
    font-size: 24px;
}

.text cite {
    font-size: 14px;
    opacity: 0.7;
    margin: 16px 0;
}

.text cite a {
    color: inherit;
    text-decoration: none;
}

.text cite a:visited {
    color: inherit;
    text-decoration: none;
}

.text.highlight {
    padding-top: 64px;
    padding-bottom: 64px;

    max-width: unset;
    background: #F0FAFD;
    border-radius: 8px;
    color: #004E66;
    font-size: 18px;
    font-weight: 500;
}

.text p, .text ol, .text ul {
    margin-top: 16px;
    margin-bottom: 16px;
}

.list {
    list-style: auto;
    margin-left: 16px;
}
